$color-dark: #000;
$color-light: #fff;
$color-background-rgb-40: rgba(0, 0, 0, 0.40);
$color-background-rgb-75: rgba(0,0,0,0.75);

$espace-border-rounded: 40px;
$border-radius: 24px;
$border-radius-expanded: 42px; 